.upBarContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    background-color: var(--background);
    padding: 0 2rem;
}

.upBarContainer .left{
    font-weight: bold;
    font-size: larger;
    color: var(--logo);
}

.upBarContainer .middle{
    display: flex;
    gap: 15px;
    align-items: center;
}
.upBarContainer .middle .categories{
    background-color: black;
    color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 7px;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.search-box{
    /* width: fit-content;
    height: fit-content; */
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--subtitle);
    padding: 0.5rem 0.75rem;
    border-radius: 7px;
}
.input-search{
    width: 20px;
    border-style: none;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    background-color: transparent;
    padding-right: 40px;
    padding-left: 5px;
    animation: fade-out 0.1s forwards;
}

@keyframes fade-out {
    0%{
        width: 0%;
    }
    50%{width: 50%;}
    100% {width: 100%;}
}

.search + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	color: var(--subtitle);
}

.search {

    width: 20px;
    border-style: none;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    background-color: transparent;
    padding-right: 40px;
    padding-left: 5px;
}

.search {
	width: 100%; 
	padding: 0 16px 0 0;
}

.expandright {
	left: auto;
	right: 49px; 
}

.expandright {
	padding: 0 0 0 16px;
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .search:focus + .searchbutton {
        color: black;
    }
    
    .search {
        transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -webkit-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        width: 20px;
        border-style: none;
        font-size: 18px;
        letter-spacing: 2px;
        outline: none;
        border-radius: 25px;
        background-color: transparent;
        padding-right: 40px;
        padding-left: 5px;
    }
    
    .search:focus {
        padding: 0 16px 0 0;
        animation: fade-out 0.1s forwards;

    }
    
    .expandright {
        left: auto;
        right: 49px;
    }
    
    .expandright:focus {
        padding: 0 0 0 16px;
    }
    .search-box .searchbutton{
        margin-bottom: -5px;
    }
}

@media all and (max-width: 480px) { 
    .search:focus + .searchbutton {
        color: black;
    }
    
    .search {
        left: 15px;
        transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -webkit-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        width: 20px;
        border-style: none;
        font-size: 18px;
        letter-spacing: 2px;
        outline: none;
        border-radius: 25px;
        background-color: transparent;
        padding-right: 40px;
        padding-left: 5px;
    }
    
    .search:focus {
        padding: 0 16px 0 0;
        animation: fade-out 0.1s forwards;

    }
    
    .expandright {
        left: auto;
        right: 49px;
    }
    
    .expandright:focus {
        padding: 0 0 0 16px;
    }
    .search-box .searchbutton{
        margin-bottom: -5px;
    }

    
}

.upBarContainer .right{
    font-weight: 600;
    display: flex;
    gap: 15px;
}
.upBarContainer .right .favorites{
    display: flex;
    align-items: center;
    color: var(--subtitle);
    gap: 5px;
}
.upBarContainer .right .favorites>span{
    color: black;
}
.upBarContainer .right .signin>button{
    background-color: var(--background);
    border-radius: 7px;
    border: 2px solid var(--subtitle);
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
}
.upBarContainer .right .signin>button.smll{
    display: none;
}



@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) {
    .upBarContainer .middle{
        flex: 1;
        justify-content: flex-end;
    }
    .upBarContainer .middle .categories{
        display: none;
    }
    .upBarContainer .middle .search-box{
        border: none;
        
    }
    .upBarContainer .right .favorites>span{
        display: none;
    }
    .upBarContainer .right .signin>span{
        display: none;
    }
    .upBarContainer .right .signin>button.smll{
        background-color: transparent;
        border-radius: 7px;
        border: none;
        padding: 8px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        /* font-size: 16px; */
        font-weight: 600;
        color: var(--subtitle);
    }
    .upBarContainer .right .signin>button.lg{
        display: none;
    }
}

@media all and (max-width: 480px) { 
    .left.searchtrue{
        display: none;
    }
    .upBarContainer .middle{
        /* display: flex; */
        flex: 1;
        justify-content: flex-end;
    }
    .upBarContainer .middle .categories{
        display: none;
    }
    .upBarContainer .middle .search-box{
        border: none;
        
    }
    .upBarContainer .right .favorites>span{
        display: none;
    }
    .upBarContainer .right .signin>span{
        display: none;
    }
    .upBarContainer .right .signin>button.smll{
        background-color: transparent;
        border-radius: 7px;
        border: none;
        padding: 8px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        /* font-size: 16px; */
        font-weight: 600;
        color: var(--subtitle);
    }
    .upBarContainer .right .signin>button.lg{
        display: none;
    }
    
}


/* Bottombar css */

.bottomBarContainer{
    /* background-color: pink; */
    height: 60px; 
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 0 2rem;
}

.bottomBarContainer .location {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 140px;
}

.bottomBarContainer .location select{
    background-color: var(--background);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: none;
    border: none;
    font-size: 15px;
}

.bottomBarContainer .offers{
    display: flex;
    gap: 2rem;
    flex: 1;
    justify-content: center;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 

}
.bottomBarContainer .offers::-webkit-scrollbar {
    display: none;
}

@media all and (min-width: 1024px) and (max-width: 1280px) { }
 
@media all and (min-width: 768px) and (max-width: 1024px) { }
 
@media all and (min-width: 480px) and (max-width: 768px) { 
    .bottomBarContainer{
        /* background-color: pink; */
        height: 60px; 
        display: flex;
        align-items: start !important;
        /* justify-content: start; */
        padding: 0 2rem;
        flex-direction: column;
        gap: 8px;
    }
    .bottomBarContainer .offers .offer{
        white-space: nowrap;
    }
    
    .bottomBarContainer .location {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 140px;
    }
    
    .bottomBarContainer .location select{
        background-color: var(--background);
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-image: none;
        border: none;
        font-size: 15px;
    }
    
    .bottomBarContainer .offers{
        display: flex;
        gap: 2rem;
        flex: 1;
        justify-content: start;
        width: 100%;
        overflow: scroll;
        font-weight: 600;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none; 
    }
    .bottomBarContainer .offers::-webkit-scrollbar {
        display: none;
    }
    
}
 
@media all and (max-width: 480px) { 
    .bottomBarContainer{
        height: 60px; 
        display: flex;
        align-items: start;
        padding: 0 2rem;
        gap: 8px;
        flex-direction: column;
    }
    .bottomBarContainer .offers .offer{
        white-space: nowrap;
    }
    
    .bottomBarContainer .location {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 140px;
    }
    
    .bottomBarContainer .location select{
        background-color: var(--background);
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-image: none;
        border: none;
        font-size: 15px;
    }
    
    .bottomBarContainer .offers{
        display: flex;
        gap: 2rem;
        flex: 1;
        justify-content: start;
        width: 100%;
        overflow: scroll;
        font-weight: 600;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none; 
    }
    .bottomBarContainer .offers::-webkit-scrollbar {
        display: none;
    }
}


