.bannerContainer .backgroundImg{
    background-image: url(../../assets/Banner.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 250px);
    min-height: 570px;
    color: white;
    text-align: center;
}

.bannerContainer .backgroundImg .heading{
    padding: 5% 5% 0 5%;
    font-size: 450%;
}

.bannerContainer .backgroundImg .desc{
    padding: 2% 5% 0 5%;
}

.bannerContainer .recommendation{
    color: white;
    position: relative;
    top: -100px;
    padding-left: 7%;
}

.bannerContainer .recommendation .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .bannerContainer .recommendation .heading {
    font-size: x-large;
    font-weight: 600;
} */
.bannerContainer .recommendation .heading .allLink{
    padding-right: 12px;
    text-decoration: underline;
}

.bannerContainer .recommendation .shows{
    display: flex;
    gap: 2rem;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}

.bannerContainer .recommendation .shows::-webkit-scrollbar {
    display: none;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .bannerContainer .backgroundImg .heading{
        padding: 5% 5% 0 5%;
        font-size: 60px;
    }
 }
 
@media all and (min-width: 480px) and (max-width: 768px) { 
    .bannerContainer .backgroundImg .heading{
        padding: 5% 5% 0 5%;
        font-size: 325%;
    }
}
 
@media all and (min-width: 400px) and (max-width: 480px) {
    .bannerContainer .backgroundImg .heading{
        padding: 5% 5% 0 5%;
        font-size: 45px;
    }
}
@media all and (max-width: 400px) {
    .bannerContainer .backgroundImg .heading{
        padding: 5% 5% 0 5%;
        font-size: 35px;
    }
}


/* Reco Card Css */

.recoCardContainer{
    margin-top: 2rem;
    min-height: 270px;
    min-width: 250px;
    border: 2px solid var(--bordercolor);
    border-radius: 8px;
    overflow: hidden;
}

.recoCardContainer>img{
    height: 100%;
    width: 100%;
    transform: scale(1.2);
}
.recoCardContainer>.lazyImg{
    height: 100%;
    width: 100%;
    transform: scale(1.2);
}

.recoCardContainer .cardDetails{
    position: relative;
    top: -80px;
    background-color: transparent;
    height: 20%;
    display: grid;
    grid-template-areas: 
    'a b'
    'c d';
    grid-template-columns: 150px 1fr;
    padding: 0 8px;
}

.recoCardContainer .cardDetails .eventName{
    grid-area: a;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 500;

}
.recoCardContainer .cardDetails .eventDate{
    grid-area: b;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: small;
    color: rgba(245, 245, 245, 0.853);
    padding-top: 3px;
}
.recoCardContainer .cardDetails .eventLoc{
    grid-area: c;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.recoCardContainer .cardDetails .others{
    grid-area: d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: small;
    color: rgba(245, 245, 245, 0.853);
    padding-top: 3px;
}
.recoCardContainer .cardDetails .others>span{
    padding: 0 5px;
    font-weight: 800;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
}
